name: Web Build

on:
  push:
    paths:
      - 'ui/web/**'
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install
        run: npm ci
        working-directory: ui/web
      - name: Build
        run: npm run build
        working-directory: ui/web
      - name: Upload bundle
        uses: actions/upload-artifact@v4
        with:
          name: verseguy-web
          path: ui/web/dist
